* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-family: "Source Sans", sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    min-height: 100vh;
}
.contents {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 6rem;
}
p {
    max-width: 50%;
    font-size: 2rem;
}
img {
    max-width: 400px;
}